<button class="hamburger-menu" (click)="toggleMenu()" aria-label="Abrir menu">
  <i class="fas fa-bars"></i>
</button>

<div class="menu-overlay" *ngIf="isMenuOpen" (click)="toggleMenu()"></div>

<header class="sidebar" [class.is-open]="isMenuOpen">
  <div class="profile">
    <img
      src="assets/ItIsMe.png"
      alt="Foto de Perfil"
      class="profile-picture"
    />
    <h1 class="profile-name">Jônatas Trindade</h1>
    <h2 class="profile-title">Desenvolvedor de Software</h2>
  </div>

  <nav class="navigation">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">
          <i class="fas fa-home"></i>
          <span>Início</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/projects"
          routerLinkActive="active"
          (click)="toggleMenu()"
        >
          <i class="fas fa-briefcase"></i>
          <span>Projetos</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/education"
          routerLinkActive="active"
          (click)="toggleMenu()"
        >
          <i class="fas fa-graduation-cap"></i>
          <span>Formação</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/certificates"
          routerLinkActive="active"
          (click)="toggleMenu()"
        >
          <i class="fas fa-certificate"></i>
          <span>Certificados</span>
        </a>
      </li>
    </ul>
  </nav>

  <footer class="social-links">
    <a
      href="https://github.com/Jonatas-Lira"
      target="_blank"
      aria-label="GitHub"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/j%C3%B4natas-trindade-lira-50515519b/"
      target="_blank"
      aria-label="LinkedIn"
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      href="https://www.instagram.com/dev_lira/"
      target="_blank"
      aria-label="Instagram"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </footer>
</header>
